* {
    text-decoration: none;
   
}


.icon{
    height: 30px;
    width: 30px;
    padding: 5px;
  
    
        
}
.cantidad{
    text-decoration: none !important;
    padding: 5px;
    color: white;
}

.widget-container{
    background-color: #71869d;
    display: flex;
    justify-content: center;
    
    padding: 5px;
    width: 90px;
    height: 40px;
      border: .5px solid #742475;
      border-radius: 15px;
}

.cartwidget{
    padding: 0px;
}